<div>
    <h2>Lista Pól</h2>

    <div style="display: flex; justify-content: flex-end; margin-bottom: 16px;">
      <button mat-raised-button color="primary" (click)="openAddFieldDialog()">
        Dodaj Pole
      </button>
    </div>
  
    <div style="display: flex; align-items: center; gap: 8px; margin-bottom: 16px;">
      <mat-form-field appearance="fill">
        <mat-label>Wybierz datę</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDate" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
  
      <button mat-raised-button color="primary" (click)="filterByDate()">
        Filtruj
      </button>
  
      <button mat-raised-button color="warn" (click)="clearFilter()">
        Wyczyść
      </button>
    </div>
  
    <table mat-table [dataSource]="fields" class="mat-elevation-z8">
  
      <!-- Nazwa Pola -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nazwa Pola </th>
        <td mat-cell *matCellDef="let field"> {{field.name}} </td>
      </ng-container>
  
      <!-- Powierzchnia -->
      <ng-container matColumnDef="area">
        <th mat-header-cell *matHeaderCellDef> Powierzchnia (ha) </th>
        <td mat-cell *matCellDef="let field"> {{field.area}} </td>
      </ng-container>
  
      <!-- Uprawy -->
      <ng-container matColumnDef="crops">
        <th mat-header-cell *matHeaderCellDef> Uprawy </th>
        <td mat-cell *matCellDef="let field">
          <ul>
            <li *ngFor="let crop of field.crops">
              {{ crop.name }} - {{ crop.size }} ha ({{ crop.percentage | number:'1.2-2' }}%)
            </li>
          </ul>
        </td>
      </ng-container>
  
      <!-- Opady -->
      <ng-container matColumnDef="rainfall">
        <th mat-header-cell *matHeaderCellDef> Opady (mm) </th>
        <td mat-cell *matCellDef="let field">
          {{ field.weatherData?.rainfall ?? 'N/A' }}
        </td>
      </ng-container>

      <!-- Temperatura -->
       <ng-container matColumnDef="temperature">
      <th mat-header-cell *matHeaderCellDef> Temperatura (°C) </th>
      <td mat-cell *matCellDef="let field">
        Min: {{ field.weatherData?.tempMin ?? 'N/A' }}°C<br/>
        Max: {{ field.weatherData?.tempMax ?? 'N/A' }}°C<br/>
        Avg: {{ field.weatherData?.tempAvg ?? 'N/A' }}°C
      </td>
    </ng-container>

      
  
      <!-- Zyski / Straty -->
      <ng-container matColumnDef="profitLoss">
        <th mat-header-cell *matHeaderCellDef> Zyski / Straty </th>
        <td mat-cell *matCellDef="let field">
          Zysk: {{ field.totalProfit | currency:'PLN' }}<br />
          Strata: {{ field.totalLoss | currency:'PLN' }}
        </td>
      </ng-container>


    <!-- Data z bazy -->
    <ng-container matColumnDef="weatherDate">
      <th mat-header-cell *matHeaderCellDef> Data Pogody </th>
      <td mat-cell *matCellDef="let field">
        {{ field.weatherData?.date | date:'yyyy-MM-dd' }}
      </td>
    </ng-container>


      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Akcje </th>
        <td mat-cell *matCellDef="let field">
          <button mat-raised-button color="warn" (click)="deleteField(field)">
            Usuń
          </button>
          &nbsp;
          <button mat-raised-button color="primary" (click)="goToFieldHistory(field)">
            Historia
          </button>
        </td>
      </ng-container>

     
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    

  </div>
