/* src/app/components/user-editor/user-editor.component.scss */
mat-dialog-content {
  display: flex;
  flex-direction: column;

  div {
    margin-bottom: 15px;

    label {
      display: block;
      margin-bottom: 5px;
    }

    input {
      width: 100%;
      padding: 8px;
      box-sizing: border-box;
    }

    .error {
      color: red;
      font-size: 12px;
    }
  }
}

.error {
  color: red;
  margin-top: 10px;
}

.success {
  color: green;
  margin-top: 10px;
}
