<div class="go-back-button">
    <button mat-raised-button color="accent" (click)="goBackToFields()">
      Powrót do listy pól
    </button>
</div>
<div class="history-container" *ngIf="!error; else errorBlock">
    <h2>Historia pola {{ field?.name }}</h2>
    <div *ngIf="isLoading">Wczytywanie danych...</div>
  
    <div *ngIf="!isLoading">
      <h3>Dane Pogodowe</h3>
  
      <table mat-table [dataSource]="weatherHistory" class="mat-elevation-z8">
  
        <!-- Data -->
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Data </th>
          <td mat-cell *matCellDef="let w">{{ w.date | date:'yyyy-MM-dd' }}</td>
        </ng-container>
  
        <!-- Temperatura Min -->
        <ng-container matColumnDef="tempMin">
          <th mat-header-cell *matHeaderCellDef> Temp. Min </th>
          <td mat-cell *matCellDef="let w">{{ w.tempMin }} °C</td>
        </ng-container>
  
        <!-- Temperatura Max -->
        <ng-container matColumnDef="tempMax">
          <th mat-header-cell *matHeaderCellDef> Temp. Max </th>
          <td mat-cell *matCellDef="let w">{{ w.tempMax }} °C</td>
        </ng-container>
  
        <!-- Temperatura Średnia -->
        <ng-container matColumnDef="tempAvg">
          <th mat-header-cell *matHeaderCellDef> Temp. Średnia </th>
          <td mat-cell *matCellDef="let w">{{ w.tempAvg }} °C</td>
        </ng-container>
  
        <!-- Opady -->
        <ng-container matColumnDef="rainfall">
          <th mat-header-cell *matHeaderCellDef> Opady </th>
          <td mat-cell *matCellDef="let w">{{ w.rainfall }} mm</td>
        </ng-container>
  
        <!-- Header/Row declarations -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
      </table>
  
      <p *ngIf="!weatherHistory?.length">Brak danych pogodowych</p>

        <!-- Sekcja Mapy -->
    <div class="map-wrapper" *ngIf="field">
      <h3>Mapa pola {{ field.name }}</h3>
      <div #map id="map"></div>
    </div>
    
    </div>
  </div>
  
  <ng-template #errorBlock>
    <div class="error-message">{{ error }}</div>
  </ng-template>

  <app-temperature-chart [fieldId]="fieldId"></app-temperature-chart>
  