
<div class="user-container" *ngIf="userProfile; else loading">
    <h2>Profil Użytkownika</h2>
    <p><strong>Nazwa użytkownika:</strong> {{ userProfile.username }}</p>
    <p><strong>Email:</strong> {{ userProfile.email }}</p>
    <p><strong>Imię:</strong> {{ userProfile.firstName }}</p>
    <p><strong>Nazwisko:</strong> {{ userProfile.lastName }}</p>
    <button mat-raised-button color="primary" (click)="openEditDialog()">Edytuj Profil</button>
  </div>
  
  <ng-template #loading>
    <p>Ładowanie profilu...</p>
  </ng-template>
  
  <div *ngIf="errorMessage" class="error">
    {{ errorMessage }}
  </div>
  